$background-button-hover: #46acf9;;
$background-button: #eff0f2;
$background-footer: #ffffff;
$background-form: #eff0f2;
$background-input: #eff0f2;
$background-navbar: #eff0f2;
$border-button: #131010;
$border-input: #131010;
$border: #b3b3b3;
$text-body: #4b5563;
$text-button-hover: #fff9f9;
$text-button: #000000;
$text-footer: #4b5563;
$text-form: #3d3d3d;
$text-navbar: #4b5563;
$second-color: #e3e3e3;
$second-color-text: #a0a0a0;