.index-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .data-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    min-height: 190px;

    .text-container {
      max-width: 700px;

      h1 {
        margin: 10px 0;
        font-size: xx-large;
      }
    }

    .half-line {
      border: black 3px solid;
      width: 200px;
      margin: 20px 0; 
    }

    .half-line-100 {
      border: black 3px solid;
      width: 100px;
    }

    .description-container {
      color: $second-color-text;
      max-width: 600px;

      p {
        padding-bottom: 15px;
      }
      li {
        padding-bottom: 10px;
      }
    }

    .buttons-container {
      display: flex;
      align-items: center;
      justify-content: left;

      button {
        cursor: pointer;
        padding: 7px 40px;
        transition: opacity 0.2s;
      }

      button:hover {
        opacity: 0.5;
      }

      .white-button {
        background-color: white;
        border: 1px solid black;
        color: black;
        margin-right: 30px;
      }

      .black-button {
        background-color: black;
        border: 1px solid white;
        color: white;
      }
    }
  }

  .image-container {
    margin: 0 100px;

    .image-container {
      height: 100px;
    }
    img {
      height: 800px;
    }

 
  }

  .image-container-mid {
    margin: 0 100px;
    img {
      height: 500px;
      margin-bottom: 100px;
    }
  }
}

.grey-container {
  background-color: $second-color;
}